<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<meta charset="UTF-8">
<body th:fragment="leftSide">

<div class="wrapper">
  
  <!-- Menu_Left -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">ระบบจัดการหวย</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../dist/img/avatar.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">แอดมิน</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="/home" class="nav-link">
              <i class="nav-icon fas fa-laptop"></i>
              <p>
                หน้าแรก
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/lotteryAdd}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                ซื้อหวย
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/lotteryList}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              <p>
                ข้อมูลการซื้อ
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/user}" class="nav-link">
              <i class="nav-icon fas fa-user-graduate"></i>
              <p>
                ชื่อผู้ส่งหวย
              </p>
            </a>
          </li>
         </ul>
      </nav> -->
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
 </div>
</body>

</html>